---
import Layout from "../layouts/Layout.astro";
import Herosectionextra from "../components/herosectionextra.astro";
---

<Layout title="Nosotros">
    <Herosectionextra
        title="Nosotros: Innovación con Propósito"
        text="En Nexus Electrónica e Innovacción, creemos que el éxito no se mide solo en cifras, sino en el impacto positivo que generamos en las vidas de las personas y en las industrias que transformamos. "
        backgroundImage="/img/nosotros.webp";
        const buttonText = "Contáctanos";
        const buttonLink = "/contacto";
    />
    <section class="acerca-de-container">
        <div class="container">
            <div class="intro-container">
                <p class="intro">
                    Desde nuestros inicios, hemos puesto a las personas en el
                    centro de cada innovación, creando soluciones que no solo
                    optimizan procesos, sino que también hacen más humana la
                    tecnología.
                </p>
                <p class="intro">
                    Nuestro equipo multidisciplinario trabaja incansablemente
                    para fusionar lo mejor de la ingeniería, el diseño y la
                    experiencia del usuario, ofreciendo soluciones que no solo
                    cumplen con las necesidades de hoy, sino que anticipan las
                    demandas del mañana.
                </p>
                <p class="intro">
                    Únete a nosotros en este viaje hacia un futuro más
                    inteligente, colaborativo y sostenible.
                </p>
            </div>
            <div class="content">
                <div class="section-mision">
                    <h2 class="mision">Misión</h2>
                    <p class="p-mision">
                        Nuestra misión es transformar la industria a través de
                        soluciones de automatización avanzadas y centradas en el
                        usuario. Nos comprometemos a ofrecer sistemas que
                        optimicen la eficiencia y seguridad de los procesos
                        industriales, adaptándonos a las necesidades específicas
                        de cada cliente.
                    </p>

                    <p class="p-mision">
                        Creemos en la integración perfecta entre la tecnología y
                        el talento humano, por lo que diseñamos soluciones que
                        no solo mejoran la productividad, sino que también
                        facilitan el trabajo, reducen la curva de aprendizaje y
                        hacen que las operaciones sean más seguras y confiables.
                    </p>
                    <p class="p-mision">
                        Nuestro objetivo es generar un impacto positivo en las
                        empresas, ayudándolas a superar los desafíos del
                        presente y prepararse para un futuro más competitivo y
                        sostenible.
                    </p>
                </div>
                <div class="section-vision">
                    <h2 class="vision">Nuestra Visión</h2>
                    <p class="p-vision">
                        Nuestra visión es ser líderes globales en automatización
                        industrial, reconocidos por nuestra capacidad de
                        integrar tecnología avanzada con un enfoque profundo en
                        el ser humano. Aspiramos a marcar la pauta en cómo la
                        tecnología y las personas pueden trabajar en sinergia
                        para crear fábricas y plantas más eficientes,
                        inteligentes y seguras.
                    </p>
                    <p class="p-vision">
                        Imaginamos un futuro donde cada empresa pueda aprovechar
                        la automatización no solo para incrementar su
                        productividad, sino también para fomentar la
                        creatividad, mejorar la calidad de vida laboral y
                        contribuir a un entorno de trabajo más sostenible.
                    </p>
                    <p class="p-vision">
                        Queremos ser el estándar de referencia en la industria,
                        conocidos por transformar operaciones industriales en
                        experiencias fluidas, intuitivas y altamente eficaces.
                    </p>
                </div>
                <section class="valores-container">
                    <h3 class="titulo-valores">Nuestros Valores</h3>
                    <div class="section-valores">
                        <div class="parrafos-valor">
                            <h3 class="titulo-valor">Innovación Constante:</h3>
                            <p class="p-valores">
                                Creemos en la innovación como motor de cambio y
                                progreso. Nos comprometemos a explorar y aplicar
                                las últimas tecnologías para ofrecer soluciones
                                de automatización que mantengan a nuestros
                                clientes a la vanguardia, impulsando su éxito a
                                través de la mejora continua.
                            </p>
                        </div>
                        <div class="parrafos-valor">
                            <h3 class="titulo-valor">
                                Centrados en el Usuario
                            </h3>
                            <p class="p-valores">
                                Colocamos a las personas en el centro de todo lo
                                que hacemos. Nos aseguramos de que nuestras
                                soluciones no solo sean técnicamente avanzadas,
                                sino también intuitivas y fáciles de usar,
                                contribuyendo a mejorar la experiencia del
                                usuario final y facilitar el trabajo diario.
                            </p>
                        </div>
                        <div class="parrafos-valor">
                            <h3 class="titulo-valor">Excelencia Operativa</h3>
                            <p class="p-valores">
                                Buscamos la perfección en cada detalle. Desde la
                                planificación hasta la ejecución y el soporte,
                                nos esforzamos por entregar servicios y
                                productos de la más alta calidad, garantizando
                                resultados que superen las expectativas.
                            </p>
                        </div>
                        <div class="parrafos-valor">
                            <h3 class="titulo-valor">Orientación al Cliente</h3>
                            <p class="p-valores">
                                Nuestro compromiso está con el éxito de nuestros
                                clientes. Escuchamos atentamente sus necesidades
                                y objetivos, y trabajamos mano a mano con ellos
                                para ofrecer soluciones personalizadas que
                                realmente agreguen valor a sus operaciones.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</Layout>

<style>
    .acerca-de-container {
        width: 100%;
        box-sizing: border-box;
    }

    .intro-container {
        width: 100%;
        padding: 5rem 0;
        background-color: #595959;
        color: white;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
        border-radius: 20px;
        font-size: 1.2rem;
        box-sizing: border-box;
        box-sizing: border-box;
    }

    .section-mision {
        padding: 3.5rem 0 3.5rem 0;
        background-color: #d9d9d9;
        box-sizing: border-box;
    }

    .section-vision {
        padding: 3.5rem 0 3.5rem 0;
        background-color: white;
        background-image: url(/img/egranaje-card.webp);
        background-size: auto;
        background-position: left;
        background-repeat: no-repeat;
        box-sizing: border-box;
        box-sizing: border-box;
    }

    .intro {
        padding: 0.5rem;
        margin: 0 auto;
        width: 85vw;
        box-sizing: border-box;
        line-height: 1.1rem;
    }

    .mision,
    .vision {
        width: 85vw;
        font-family: "Dosis", sans-serif;
        font-size: 26px;
        font-weight: 600;
        margin-top: 3rem;
        color: #a40000;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .p-mision,
    .p-vision {
        width: 85vw;
        margin: 0 auto;
        padding-top: 1rem;
        font-size: 18px;
        line-height: 1.1;
    }
    .valores-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .section-valores {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .titulo-valores {
        font-family: "Dosis", sans-serif;
        font-size: 26px;
        font-weight: 600;
        margin-top: 3rem;
        color: #a40000;
        text-align: center;
    }

    .titulo-valor {
        font-family: "Dosis", sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .parrafos-valor {
        max-height: 40vh;
        background-color: white;
        padding: 20px;
    }
    @media (min-width: 768px) {
        .section-valores {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        .parrafos-valor {
            width: 30vw;
            height: auto;
            background-color: white;
            padding: 20px;
        }
    }

    @media (min-width: 1200px) {

        .mision,
        .vision{
            width: 35vw;
        }

        .intro,
        .p-mision,
        .p-vision{
            width: 35vw;
        }

        .section-valores {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        .parrafos-valor {
            width: 20vw;
            height: 28vh;
            background-color: white;
            padding: 20px;
        }
        .p-valores{
            width: 20vw;
        }
    }
</style>
