---
---

<div class="contacto-container">
    <div class="contacto-content">
      <h3 class="titulo-contacto">Información de Contacto</h3>
      <p>
        Dirección: Incluye la dirección física de la tienda o sede, si aplica.
      </p>
      <p>
        Teléfono: Proporciona un número de teléfono para atención directa.
      </p>
      <p>
        Correo Electrónico: Ofrece una dirección de correo electrónico para consultas generales o pedidos especiales.
      </p>
      <p>
        Horario de Atención: Indica los días y horas en que la tienda está abierta.
      </p>
      <h4>Redes Sociales:</h4>
  
      <!-- Contenedor para el formulario de HubSpot -->
      <div id="hubspot-form"></div>
    </div>
  </div>
  
  <!-- Script que se ejecuta después de cargar la página -->
<script>
    if (typeof window !== 'undefined') {
      const hubspotScript = document.createElement('script');
      hubspotScript.src = 'https://js.hsforms.net/forms/v2.js';
      hubspotScript.async = true;
      hubspotScript.onload = function () {
        // Ignoramos la verificación de TypeScript para hbspt
        // @ts-ignore
        if (typeof hbspt !== 'undefined') {
          // @ts-ignore
          hbspt.forms.create({
            region: "na1",
            portalId: "46854846",
            formId: "259978e9-8f4c-442a-ad2e-057d920a236d",
            target: "#hubspot-form",
          });
        }
      };
      document.body.appendChild(hubspotScript);
    }
  </script>
  


<style>
    .contacto-container {
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacto-content {
        border-radius: 20px;
        padding: 2rem;
        width: 50vw;
        background-color: transparent; /*CAMBIAR COLOR DEL FONDO DEL TEXTO*/
        font-size: 1.2rem;
        line-height: 1.3;
        margin: 3rem 0 5rem 0;
    }

    .titulo-contacto {
        font-family: "Grand Hotel", system-ui;
        font-size: 2rem;
        color: #551503; /*CAMBIAR EL COLOR DEL TITULO DE CONTACTO*/
        margin-bottom: 1rem;
    }

    #hubspot-form{
        padding: 2rem;
    }

    h4{
        font-family: "Dosis", sans-serif;
    }

    @media (max-width: 768px) {
        .contacto-content {
            margin-top: 1rem;
            width: 75vw;
        }
    }
</style>
