---
const { buttonText, buttonLink } = Astro.props;
---

<div class="boton">
    <div class="espacio"></div>
    <div class="espacio"></div>
    <a href={buttonLink} class="hero-btn">{buttonText}</a>
</div>
<div class="hero-logo">
    <img src="/img/nombre-inicio.webp" alt="Logo de la Empresa" />
</div>

<style>
    .boton {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hero-btn {
        width: 40vw;
        padding: 15px 20px;
        font-size: 1.1rem;
        background-color: #a40000;
        color: white;
        text-decoration: none;
        border-radius: 15px;
        text-align: center;
        display: inline-block;
        background-color: #a40000;
        color: white;
        font-family: "Dosis", sans-serif;
        font-weight: bold;
        transition: transform 0.3s ease;
        text-decoration: none;
    }

    .hero-btn:hover {
        background-color: #505050;
        transform: scale(1.2);
    }

    .hero-logo {
        max-width: 100%;
        text-align: center;
    }

    .hero-logo img {
        width:40vw; /* Ajusta el tamaño del logo */

    }

    @media (min-width: 900px) {
        .espacio{
        width: 18vw;
    }
    }


</style>